html {
    scroll-behavior: smooth;
  }
body
{
	background-image:linear-gradient(to right, #567572ff, #964f4cff, #696667ff);
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,

#work,
#work .fp-slide,
#work .fp-tableCell,

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell
{
    height: auto !important;
}

/* end all section */

/* start all heading */
h1,h2,h3,h4,h5
    {
        color: #ffffff;
        font-weight: bold;
    }
/* end all heading */

/* start all section */
#work, #about, #portfolio, #contact
    {
        padding-top: 100px;
        padding-bottom: 100px;
    }

/* end all section */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}
/* end simpletextrotator */

.box{

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box a {
    text-decoration: none;
    font-size: 2rem;
    color: #f7f9fa;
    padding: 2rem;
    transition: all .5s;
    position: relative;
    perspective: 30rem;
}
.box a::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4.2rem;
    left: 0;
    background: #ffffff34;
    border-radius: 1.5rem;
    transform: rotateX(80deg);
    z-index: 2;
}
.box a::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #D43F52;
    border-radius: 1.5rem;
    z-index: -1;
}
a:hover::before{
    animation:rotate 1s;
    transition:all .5s;
}
@keyframes rotate {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}



/* start home */       
#home
	{
        width: auto;
        height: auto;
        background: url('../images/pic9.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
        text-align: center; 
    }
@media only screen and (max-width: 767px) {
  #home {
        width: auto;
        height: auto;
        background: url('../images/pic10.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
        text-align: center; 
    }
    .nav>li>a:hover{text-decoration:none;background-color:rgb(6, 21, 40)}
}

@media only screen and (max-width: 992px) and (min-width: 767px) {
  #home {
        width: auto;
        height: auto;
        background: url('../images/pic93.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
        text-align: center; 
    }
}

#home h2
    {
        border-top: 2px solid #567572ff;
        border-bottom: 2px solid #567572ff;
        color: #000000;
        display: inline-block;
        letter-spacing: 6px;
        padding: 15px 35px;
        margin: 30px 0;
    }
#home h2
    {
        padding-bottom: 10px;
    }
#in-out {
    color:#567572ff;
}
p{
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
}
hr{
    border:1px solid #696667ff
}
#home  .glow
    {
        background: transparent;
        border: 2px solid #567572ff;
        color:rgb(0, 217, 255);
        animation: glow 1s ease-in-out infinite alternate;
        font-size: 16px;
        font-weight: bold;
        width: 180px;
        height: 60px;
        margin-top: 40px;
        padding-top: 18px;
        transition: all 0.4s ease-in-out;
    }

    /* @keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1be600, 0 0 40px #1be600, 0 0 50px #1be600, 0 0 60px #1be600, 0 0 70px #1be600;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1310c2, 0 0 40px #1310c2, 0 0 50px #1310c2, 0 0 60px #1310c2, 0 0 70px #1310c2, 0 0 80px #1310c2;
  }
} */
#home .btn:hover
    {
        background: #D43F52;
        border-color: transparent;
    }
/* end home */

/* start work */
#work
    {
        background:#0B0C0E;
    }
    @media only screen and (max-width: 767px) {
  #work {
    background-color: #010101;
    }
}
#work h2
    {
        text-align: center;
    }

#work .media
    {
      margin-top: 30px;
    }
    
    .icon{
        transition: transform 300ms ease-in-out;
        pointer-events: none;
    }
    .trigger.clicked .icon {
        /* transform: translate(200px) rotate(20deg);  */
        animation-name: myframe;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }



#work .media .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #D43F52;
        font-size: 24px;
        margin-right: 24px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        vertical-align: middle;
        transition: all 0.4s ease-in;
    }
#work .media .fa:hover
    {
        background: #ffffff;
        cursor: pointer;
    }
#work .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end work */

/* start about */
.Pcolor{
    color: #9cc0f7
}
#about h4
    {
        padding: 15px 0;
		color: #D43F52;
    }
#about .progress
    {
        border-radius: 4px;
        background: #ffffff;
        height: 4px;
    }
#about .progress .progress-bar-danger
    {
        background: #D43F52;
    }
#about .text-top
    {
        padding-top: 50px;
    }
#about span
    {
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding-bottom: 6px;
    }
#about small
    {
        font-weight: bold;
        float: right;
    }
/* end about */

/* start portfolio */
#portfolio
    {
        background: #1a1a1a;
        text-align: center;
    }
#portfolio h2
    {
        padding-bottom: 30px;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0%;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        opacity: 0;
        transition: 0.5s ease;
    }

    #portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        opacity: 1;
        height: 100%;
    }
/* end portfolio */

/* start contact */
.Pcolor2{
        color: #9cc0f7
}

#contact address
    {
      padding-bottom: 18px;
    }
	
#contact .contact-title
    {
		font-size: 24px;
		font-weight: bold;
        padding-bottom: 20px;
		color: #ffffff;
    }
#contact .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #D43F52;
        width: 50px;
        height: 50px;
        line-height: 45px;
        text-align: center;
        margin-right: 20px;
    }
#contact .form-control
    {
        background: transparent;
        border: 2px solid #999;
        border-radius: 0;
        box-shadow: none;
        color: #ffffff;
        margin-bottom: 20px;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        background: #D43F52;
        border: 2px solid transparent;
        color: #ffffff;
        font-weight: bold;
        transition: all 0.4s ease-in-out;
    }
#contact input[type="submit"]:hover
    {
        background: #ffffff;
        color: #D43F52;
    }
/* end contact */

/* start footer */
footer
    {
        background-color: #0b0c0e;
        border-top: 1px solid #090909;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
footer hr
    {
        width: 100px;
    }
/* end footer */

/* start social icon */
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        border-radius: 50%;
        color: #606060;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        text-align: center;
        margin-right: 10px;
    }
.social-icon li a:hover
    {
        color: #D43F52;
    }
/* end social icon */

@keyframes myframe{
    0% {
        height: 60px;
    }
    50%{
       
    }
    100%{
        height :200px;
        width: 268px;
        background-image: url('../images/edited certificate 1.jpg');
        transition: transform 300ms ease-in-out;
        transform: translate(60px);
    }
}
